{
  "presets": [
    "minify",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "> 5%",
          "node": "16"
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
